#  /etc/systemd/system/habits.service
[Unit]
Description=habits daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/html/Course8/c7/
ExecStart=/var/www/html/Course8/c7/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/var/www/html/Course8/c7/habits.soc>
[Install]
WantedBy=multi-user.target
